{% include 'app/header.html' %}


<div class="container">
    <h2>Ajouter une Cible</h2>
    <form method="post" class="my-custom-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_nom">Nom:</label>
            {{ form.nom }}
        </div>

        <div class="form-group">
            <label for="id_prenom">Prénom:</label>
            {{ form.prenom }}
        </div>

        <div class="form-group">
            <label for="id_categorie">Catégorie:</label>
            {{ form.categorie }}
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
{% include 'app/footer.html' %}
