{% include 'app/header.html' %}

<div class="container">
    <div class="target-list">
        {% for target in targets %}
            <!-- Ajoutez une classe "target-container" pour chaque ligne -->
            <div class="target-row target-container" onmouseover="showButton(this)" onmouseout="hideButton(this)">
                <span class="column">{{target.classement}}</span>
                <span class="column">{{target.nom.upper}}</span>
                <span class="column">{{target.prenom}}</span>
                <span class="column">{{target.categorie}}</span>
                <!-- Ajoutez une div pour le contenu en déroulement -->
                <div class="hidden-content">
                    <!-- Votre contenu en déroulement ici -->
                    <button class="edit-button" onclick="editTarget({{ target.id }})">Modifier</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="add-cible">
        <a href="{% url 'cible_add' %}"><button id="show-form-btn">Ajouter une Cible</button></a>
    </div>
</div>

{% include 'app/footer.html' %}