{% if worst_targets %}
    <ol>
    {% for target in worst_targets %}
        <li><a href="/app/{{ target.id }}/">{{ target }}</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}