<!DOCTYPE html>
<html>
<head>
    <title>Liste des Cibles</title>
</head>
<body>
    <h1>Liste des Cibles</h1>
    <ul>
        {% for cible in cibles %}
            <li>{{ cible }}</li>
        {% endfor %}
    </ul>
</body>
</html>