/* Ajoutez une classe "edit-container" pour centrer horizontalement le bouton "Modifier" */
.target-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-button {
    display: none;
}

.target-row:hover .edit-button {
    display: inline-block;
}

.target-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* Ajustez la valeur selon vos préférences */
}

.target-row span {
    text-align: center;
}

/* Contenu en déroulement */
.hidden-content {
    display: none;
}

/* Formulaire cible visible */
.visible-form {
    display: block;
}
